<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=0.01) }}">
</head>

<body>

<!-- Demo -->
<div class="movie">
    <h2><u>Movie Recommendation System</u></h2>
    <!-- Input form -->
    <form action="{{ url_for('main') }}" method="POST">
        <input type="text" id="movie_name" name="movie_name" placeholder="Enter a full movie name" required/>
        <input type="submit" id="submission_button" value="Submit"/>
    </form>
    <p style="color: #919191; padding: 1em;">The model uses <b>Content Based Recommendations</b> to find similar movies.
        Intuitive idea behind is <i>"If a person likes a particular item, he/she will also like an item that is similar
            to it."</i> The dataset is taken from <a href="https://www.kaggle.com/" target="_blank">Kaggle.com</a>.</p>
    <br>
</div>
<!-- partial -->

<script src='https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>

</body>
</html>
